@{
    ViewBag.Title = "DESIGN";
}
<div class="container-fluid content">


    <div class="contain">
        <div id="tag" class="container-fluid">
            <h2>JL Logo</h2>
        </div>
        <div class="row" style="margin:0;">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-sm-4">
                    <a href="~/Images/design/JL3-01.svg" data-toggle="lightbox" data-gallery="gallery1">
                        <img src="~/Images/design/JL3-01.svg" class="img-fluid img-responsive design-image">
                    </a>
                    <div data-toggle="lightbox" data-gallery="gallery1" data-remote="~/Images/design/JL2.svg" data-title=""></div>
                    <div data-toggle="lightbox" data-gallery="gallery1" data-remote="~/Images/design/JL4.svg" data-title=""></div>
                    <div data-toggle="lightbox" data-gallery="gallery1" data-remote="~/Images/design/JL5-01.svg" data-title=""></div>
                </div>
                <div class="col-sm-8 design">
                    <p>
                        <strong>Challenge: </strong><br>Design a logo for "Java Love" using just typography.<br>
                        <strong>Profile: </strong><br>"In business since 1984, the company supplies only the best organic roasts from local
                        growers. Java Love needs a new, re-purposed logo and identity that will help
                        them compete in a retail environment. They want to look like they belong on the shelf with
                        competitors, but they don’t want to loose the Kenyan spirit of their brand. Their coffee has
                        a strong focus on quality and craftsmanship. Organic, sustainable coffee is an important part of the
                        brand, but the client does not want to look “stereotypically green”."
                    </p>
                </div>
            </div>
        </div><!--row-->
    </div><!--contain-->
    <hr>
    <div class="contain">
        <div id="tag" class="container-fluid">
            <h2>Ad Design</h2>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-sm-4">
                    <a href="~/Images/design/chocoad.jpg" data-toggle="lightbox" data-gallery="gallery2">
                        <img src="~/Images/design/chocoad.jpg" class="img-fluid img-responsive design-image">
                    </a>
                </div>
                <div class="col-sm-8 design">
                    <p>
                        <strong>Challenge: </strong><br>Design a magazine advertisement using original product photography.<br>
                        <strong>Profile: </strong><br>"Marou crafts the finest single origin Vietnam dark chocolate while
                        working directly with local cacao farmers, sourcing 100% local ingredients and employing artisanal production methods."
                    </p>
                </div>
            </div>
        </div><!--row-->
    </div><!--contain-->
    <hr>
    <div class="contain">

        <div id="tag" class="container-fluid">
            <h2>CSC Logo</h2>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-sm-4">
                    <a href="~/Images/design/chocolatesummercamp.svg" data-toggle="lightbox" data-gallery="gallery3">
                        <img src="~/Images/design/chocolatesummercamp.svg" class="img-fluid img-responsive design-image">
                    </a>
                </div>
                <div class="col-sm-8 design">
                    <p>
                        <strong>Challenge: </strong><br>Create an original logo for chocolate maker's summer camp conference.<br>
                        <strong>Profile: </strong><br>The first summer camp "funconference"
                        for chocolate makers. Logo must be fun, have a "summer camp" feel, and look good as a patch.
                    </p>
                </div>
            </div>
        </div><!--row-->
    </div><!--contain-->
    <hr>
    <div class="contain">

        <div id="tag" class="container-fluid">
            <h2>HP Icons</h2>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-sm-4">
                    <a href="~/Images/design/HP-03.svg" data-toggle="lightbox" data-gallery="gallery4">
                        <img src="~/Images/design/HP-03.svg" class="img-fluid img-responsive design-image">
                        <div data-toggle="lightbox" data-gallery="gallery4" data-remote="~/Images/design/HP-04.svg" data-title=""></div>
                        <div data-toggle="lightbox" data-gallery="gallery4" data-remote="~/Images/design/HP-05.svg" data-title=""></div>
                        <div data-toggle="lightbox" data-gallery="gallery4" data-remote="~/Images/design/HP-06.svg" data-title=""></div>
                        <div data-toggle="lightbox" data-gallery="gallery4" data-remote="~/Images/design/HP-07.svg" data-title=""></div>
                    </a>
                </div>
                <div class="col-sm-8 design">
                    <p>
                        <strong>Challenge: </strong><br>Create five custom illustrated icons based upon a
                        single subject matter of your choice.<br>
                        <strong>Profile: </strong><br>Icons were based on the Harry Potter books. Communication objectives were simplicity-addressed
                        through a rigid system of sizing and curves based on the Fibonacci sequence, youth-addressed through color choice, and nostalgia-
                        addressed through the retrostyling in the curves and use of white-space.
                    </p>
                </div>
            </div>
        </div><!--row-->
    </div><!--contain-->
    <br>
</div>